<section class="p-10 bg-wedding-primary flex items-center justify-center text-center">
  <h2 class="font-serif text-[1.1rem] md:text-[1.1rem] text-wedding-light italic">
    Hoy, los 8,000 km se vuelven un ‘nosotros’ que por fin se encuentra frente al altar.
  </h2>
</section>