---
const images = [
  'images/novios_1.webp',
  'images/novios_2.webp',
  'images/novios_3.webp',
  'images/novios_4.webp',
  'images/novios_5.webp',
  'images/novios_6.webp',
  'images/novios_7.webp',
  'images/novios_8.webp',
  'images/novios_9.webp',
  'images/novios_10.webp'
];
---

<section class="overflow-hidden bg-wedding-primary py-8">
  <div class="slider-track flex gap-4 w-[calc(216px*10)]"> 
    
    {images.map((img) => (
      <div class="w-[200px] h-[300px] bg-gray-800 shrink-0 rounded-md overflow-hidden pointer-events-none select-none">
        <img 
          src={`${import.meta.env.BASE_URL}${img}`} 
          alt="Foto novios" 
          class="w-full h-full object-cover grayscale opacity-70 hover:opacity-70"
          loading="lazy"
        />
      </div>
    ))}
    
    {images.map((img) => (
      <div class="w-[200px] h-[300px] bg-gray-800 shrink-0 rounded-md overflow-hidden pointer-events-none select-none">
         <img 
          src={`${import.meta.env.BASE_URL}${img}`} 
          alt="Foto novios" 
          class="w-full h-full object-cover grayscale opacity-70 hover:opacity-70"
          loading="lazy"
        />
      </div>
    ))}

  </div>
</section>

<style>
  .slider-track {
    animation: scroll 20s linear infinite; /* Más rápido al ser menos fotos */
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-200px * 5 - 1rem * 5)); } 
  }
</style>