@import "tailwindcss";

@theme {
  --color-wedding-primary: #430012;
  --color-wedding-secondary: #6d001d;
  --color-wedding-accent: #688277;
  --color-wedding-soft: #d1aba2;
  --color-wedding-light: #e8d7d0;
  
  --font-fleur: "Fleur De Leah", cursive;
  --font-corinthia: "Corinthia", cursive;
  --font-italianno: "Italianno", cursive;
  --font-carattere: "Carattere", cursive;
  --font-cinzel: "Cinzel", serif;
}

/* Clases de utilidad para fuentes */
.font-fleur { font-family: var(--font-fleur); }
.font-corinthia { font-family: var(--font-corinthia); }
.font-italianno { font-family: var(--font-italianno); }
.font-cinzel { font-family: var(--font-cinzel); }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--color-wedding-primary);
  font-family: var(--font-cinzel); /* Fuente base elegante */
  overflow-x: hidden;
}