---
import '../global.css';

interface Props {
	title?: string;
}

const { title = "David & Abigail" } = Astro.props;
const videoUrl = "https://res.cloudinary.com/cloudinary-autoshn/video/upload/q_auto,f_auto,vc_auto/v1764049277/bg-boda_cxx3sq.mp4";
const cacheBuster = `?v=${Date.now()}`;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Carattere&family=Cinzel:wght@400..900&family=Corinthia:wght@400;700&family=Fleur+De+Leah&family=Italianno&display=swap" rel="stylesheet">
		
		<link rel="preload" as="video" href={videoUrl + cacheBuster} type="video/mp4" />
		
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>